### Day by day trading - 2019-01-10

In [1]:
# Import standard libraries
%matplotlib inline

import pandas as pd
import numpy as np
import datetime
from dateutil.relativedelta import relativedelta
import matplotlib.pylab as plt
from pandas.tseries.offsets import BDay
import os
import os.path
import pickle
import random
import json
from scipy import stats
from datetime import datetime

from sklearn.model_selection import StratifiedShuffleSplit, TimeSeriesSplit
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score

In [2]:
# Import custom libraries
from Code.lib.plot_utils import PlotUtility
from Code.lib.time_utils import TimeUtility
from Code.lib.retrieve_data import DataRetrieve, ComputeTarget
from Code.lib.candle_indicators import CandleIndicators
from Code.lib.transformers import Transformers
from Code.lib.ta_momentum_studies import TALibMomentumStudies
from Code.lib.model_utils import ModelUtility, TimeSeriesSplitImproved
from Code.lib.feature_generator import FeatureGenerator
from Code.utilities.stat_tests import stationarity_tests
from Code.lib.config import current_feature, feature_dict
from Code.models import models_utils
from Code.lib.model_algos import AlgoUtility

plotIt = PlotUtility()
timeUtil = TimeUtility()
ct = ComputeTarget()
candle_ind = CandleIndicators()
dSet = DataRetrieve()
taLibMomSt = TALibMomentumStudies()
transf = Transformers()
modelUtil = ModelUtility()
featureGen = FeatureGenerator()
dSet = DataRetrieve()
modelAlgo = AlgoUtility()

In [3]:
# function to create system directory based on system name if one doesn't already exist
def get_system_dir(system_name):
    # Create system directory in current path
    current_directory = os.getcwd()
    system_directory = os.path.join(current_directory, system_name)
    if not os.path.exists(system_directory):
       os.makedirs(system_directory)
    return system_directory

In [4]:
# functions for save and load json files
def save_json(filename, json_file):
    # Save system_dict to file
    #filename = 'system_dict.json'
    file_path = os.path.join(system_directory, filename)
    with open(file_path, 'w') as fp:
        json.dump(json_file, fp, sort_keys=True, indent=4)
        
def load_json(file_path):
    with open(file_path, 'r') as fp:
        json_file = json.load(fp)
    return json_file

### Get system info

In [5]:
system_name = "TLT-Long-system-7045-V1"

In [6]:
# Get system info
current_directory = os.getcwd()
system_directory = os.path.join(current_directory, system_name)
if not os.path.exists(system_directory):
    print("system doesn't exist")
else:
    filename = 'system_dict.json'    
    file_path = os.path.join(system_directory, filename)
    system_dict = load_json(file_path)
    issue = system_dict["issue"]
    direction = system_dict["direction"]
    ver_num = system_dict["ver_num"]
    # Perhaps only load these when needed?
    pivotDate = system_dict["pivot_date"]
    is_oos_ratio = system_dict["is_oos_ratio"]
    oos_months = system_dict["oos_months"]
    segments = system_dict["segments"]

In [7]:
# Set IS-OOS parameters
from datetime import datetime
pivotDate = datetime.strptime(pivotDate, '%Y-%m-%d')
print(pivotDate)
pivotDate = datetime.date(pivotDate)

# set date splits
isOosDates = timeUtil.is_oos_data_split(issue, pivotDate, is_oos_ratio, oos_months, segments)
dataLoadStartDate = isOosDates[0]
is_start_date = isOosDates[1]
oos_start_date = isOosDates[2]
is_months = isOosDates[3]
is_end_date = isOosDates[4]
oos_end_date = isOosDates[5]

modelStartDate = oos_start_date

2019-01-09 00:00:00
                    Segments:  1
                IS OOS Ratio:  4
                  OOS months:  4
                   IS Months:  16
              Months to load:  20
              Data Load Date:  2017-04-09
              IS Start  Date:  2017-05-09
              OOS Start Date:  2018-09-09
                  Pivot Date:  2019-01-09

### Set trade date
In this case, increment to next business day after pivotDate

Do it manually for now

In [8]:
from datetime import timedelta
from pandas.tseries.offsets import BDay
tradeDate = pivotDate + BDay(1)
print(tradeDate)

2019-01-10 00:00:00

### Retrieve feature_dict

In [9]:
file_name = 'feature_dict.json'
file_path = os.path.join(system_directory, file_name)
feature_dict = load_json(file_path)

### Day by day procedure
1. Set trade date
2. Update close, transform
3. Retrieve model
4. Make prediction
5. Update prev day gainAhead, trade (using TRADE DECISION), Equity (what df?)
6. Update shadow trades df from (5)
7. Calculate safe-f, CAR25 (TMS-Part 1)
8. TRADE DECISION
9. Update pivot date in dict

### Steps to walkthrough
1. Make copy of raw data and truncate it to pretend existing date

In [10]:
raw_df = dSet.read_issue_data(issue)

Successfully retrieved data series for TLT

In [11]:
raw_df.tail(35)

            Date    Open      High       Low     Close  AdjClose      Volume
4133  2018-12-26  120.99  121.3900  119.9700  120.0200  119.7479  11700412.0
4134  2018-12-27  121.26  121.3800  119.9800  120.0400  119.7679  12146772.0
4135  2018-12-28  120.40  121.0500  120.2900  121.0500  120.7756   9879116.0
4136  2018-12-31  120.65  121.5600  120.4600  121.5100  121.2345  17408971.0
4137  2019-01-02  121.66  122.1600  121.3401  122.1500  121.8731  19841527.0
4138  2019-01-03  122.29  123.8600  122.2267  123.5400  123.2599  21187045.0
4139  2019-01-04  122.34  122.5600  121.6500  122.1100  121.8332  12970226.0
4140  2019-01-07  122.62  122.6500  121.6200  121.7500  121.4740   8498104.0
4141  2019-01-08  121.69  121.9400  121.3900  121.4300  121.1547   7737103.0
4142  2019-01-09  121.26  121.4300  120.7950  121.2400  120.9651   9349245.0
4143  2019-01-10  121.28  121.4100  120.3400  120.4600  120.1869   8222860.0
4144  2019-01-11  120.83  121.2700  120.6800  120.9300  120.6558   5786934.0
4145  2019-01-14  120.90  121.0100  120.2416  120.4800  120.2069   6730681.0
4146  2019-01-15  120.56  120.5700  119.9500  120.0400  119.7679   8997352.0
4147  2019-01-16  119.59  120.3900  119.5100  120.1600  119.8876   6048446.0
4148  2019-01-17  120.22  120.5300  119.8900  120.1900  119.9175   8153350.0
4149  2019-01-18  119.84  120.1200  119.3850  119.5600  119.2890  14106447.0
4150  2019-01-22  120.31  120.7200  120.0700  120.3700  120.0971   8881133.0
4151  2019-01-23  119.88  120.6200  119.8300  120.3200  120.0472   5776907.0
4152  2019-01-24  120.91  121.2600  120.7100  121.1100  120.8354   7121480.0
4153  2019-01-25  120.59  120.7500  120.3200  120.5300  120.2568   6460820.0
4154  2019-01-28  120.54  120.9400  120.4100  120.4100  120.1370   6435820.0
4155  2019-01-29  120.53  121.0400  120.3900  121.0200  120.7456   5750177.0
4156  2019-01-30  120.84  120.9800  120.3300  120.9300  120.6558  10571325.0
4157  2019-01-31  121.55  122.1800  121.5000  121.9700  121.6935  11843413.0
4158  2019-02-01  121.48  121.5700  120.8446  120.9600  120.9600  12024576.0
4159  2019-02-04  120.44  120.5500  120.0200  120.4200  120.4200   8966375.0
4160  2019-02-05  120.73  121.2300  120.6600  120.9700  120.9700   6983255.0
4161  2019-02-06  121.36  121.4100  120.7300  121.0300  121.0300   5184018.0
4162  2019-02-07  121.46  121.9100  121.2300  121.8300  121.8300   8781040.0
4163  2019-02-08  122.26  122.4700  122.0700  122.3500  122.3500   5885427.0
4164  2019-02-11  121.86  122.1800  121.7500  121.8700  121.8700   4353004.0
4165  2019-02-12  121.66  121.7500  121.2000  121.5550  121.5550   7939591.0
4166  2019-02-13  121.15  121.3900  120.9100  121.1000  121.1000   4757681.0
4167  2019-02-14  122.14  122.1957  121.6500  121.7633  121.7633   2496779.0

#### Trim df to 2019-01-09, then add 2019-01-10
Don't use set_date_range to update to new date data

In [12]:
tradeDate = tradeDate.strftime('%Y-%m-%d')
tradeDate

'2019-01-10'

In [13]:
# Use trade date instead of hard coding date
trimmed_df = raw_df.iloc[0:raw_df[raw_df.Date == tradeDate].index[0]]
trimmed_df.tail(2)

            Date    Open    High      Low   Close  AdjClose     Volume
4141  2019-01-08  121.69  121.94  121.390  121.43  121.1547  7737103.0
4142  2019-01-09  121.26  121.43  120.795  121.24  120.9651  9349245.0

In [24]:
price_loc = raw_df.index[raw_df.Date == tradeDate]
index = price_loc[0]
index

4143

In [32]:
new_open = raw_df.Close[index]
new_open

120.45999999999999

In [33]:
# add 2019-01-08
new_data_df = trimmed_df.append({'Date' : tradeDate , 'Open' : raw_df.Open[index], 'High' : raw_df.High[index], 'Low' : raw_df.Low[index], 'Close' : raw_df.Close[index], 'AdjClose' : raw_df.AdjClose[index], 'Volume' : raw_df.Volume[index] } , ignore_index=True)
new_data_df.tail(2)

            Date   Open   High    Low  Close  AdjClose       Volume
4142  2019-01-09 121.26 121.43 120.80 121.24    120.97 9,349,245.00
4143  2019-01-10 121.28 121.41 120.34 120.46    120.19 8,222,860.00

In [34]:
# get first row
df_start_date = new_data_df.Date[0]
df_start_date

'2002-07-26'

In [35]:
# get last row
lastRow = new_data_df.shape[0]
df_end_date = new_data_df.Date[lastRow-1]
df_end_date

'2019-01-10'

In [36]:
feat_df = dSet.set_date_range(new_data_df, df_start_date, df_end_date)
# Resolve any NA's for now
feat_df.fillna(method='ffill', inplace=True)

#set beLong level
beLongThreshold = 0.000
feat_df = ct.setTarget(new_data_df, "Long", beLongThreshold)

In [37]:
feat_df.tail(2)

,Open,High,Low,Close,AdjClose,Volume,gainAhead,beLong
Date,,,,,,,,
2019-01-09,121.26,121.43,120.80,121.24,120.97,"9,349,245.00",-0.01,-1
2019-01-10,121.28,121.41,120.34,120.46,120.19,"8,222,860.00",0.00,-1

#### Adding features with new day
Should I be generating new features again?
How would add just one day's worth?

In [38]:
file_name = 'input_dict.json'
file_path = os.path.join(system_directory, file_name)
input_dict = load_json(file_path)

In [39]:
feat_df = featureGen.generate_features(feat_df, input_dict)

f1
fname:  PPO
params:  [2, 5]
Current feature:  PPO_f2_s5
transform:  ['Normalized', 20]
pass params [20]
f10
fname:  kaufman_AMA
params:  [4]
Current feature:  KAMA_4
transform:  ['Normalized', 20]
pass params [20]
f2
fname:  RSI
params:  [2]
Current feature:  RSI_2
transform:  ['Normalized', 20]
pass params [20]
f3
fname:  CMO
params:  [5]
Current feature:  CMO_5
transform:  ['Normalized', 20]
pass params [20]
f4
fname:  CCI
params:  [10]
Current feature:  CCI_10
transform:  ['Normalized', 20]
pass params [20]
f5
fname:  UltimateOscillator
params:  [10, 20, 30]
Current feature:  UltOsc_t110_t220_t330
transform:  ['Normalized', 20]
pass params [20]
f6
fname:  ROC
params:  [10]
Current feature:  ROC_10
transform:  ['Normalized', 20]
pass params [20]
f7
fname:  Lag
params:  ['Close', 3]
Date
2018-12-12   119.17
2018-12-13   119.60
2018-12-14   121.18
2018-12-17   120.74
2018-12-18   120.72
2018-12-19   121.32
2018-12-20   120.02
2018-12-21   120.04
2018-12-24   121.05
2018-12-26   121.51
2018-12-27   122.15
2018-12-28   123.54
2018-12-31   122.11
2019-01-02   121.75
2019-01-03   121.43
2019-01-04   121.24
2019-01-07   120.46
2019-01-08      nan
2019-01-09      nan
2019-01-10      nan
Name: Close_lag3, dtype: float64
===============
             Open   High    Low  Close  AdjClose        Volume  gainAhead  \
Date
2018-12-12 118.58 118.72 118.24 118.35    117.80  6,182,206.00      -0.00
2018-12-13 118.46 118.58 117.98 118.07    117.53  5,564,328.00       0.00
2018-12-14 118.55 118.77 118.22 118.48    117.93  8,169,221.00       0.01
2018-12-17 118.59 119.30 118.58 119.17    118.62  9,726,781.00       0.00
2018-12-18 119.07 119.78 118.94 119.60    119.33 10,019,103.00       0.01
2018-12-19 120.11 121.66 119.92 121.18    120.91 23,046,272.00      -0.00
2018-12-20 122.01 122.03 120.67 120.74    120.47 18,543,731.00      -0.00
2018-12-21 121.14 121.21 120.39 120.72    120.45  9,945,103.00       0.00
2018-12-24 121.13 121.42 120.91 121.32    121.05  8,377,482.00      -0.01
2018-12-26 120.99 121.39 119.97 120.02    119.75 11,700,412.00       0.00
2018-12-27 121.26 121.38 119.98 120.04    119.77 12,146,772.00       0.01
2018-12-28 120.40 121.05 120.29 121.05    120.78  9,879,116.00       0.00
2018-12-31 120.65 121.56 120.46 121.51    121.23 17,408,971.00       0.01
2019-01-02 121.66 122.16 121.34 122.15    121.87 19,841,527.00       0.01
2019-01-03 122.29 123.86 122.23 123.54    123.26 21,187,045.00      -0.01
2019-01-04 122.34 122.56 121.65 122.11    121.83 12,970,226.00      -0.00
2019-01-07 122.62 122.65 121.62 121.75    121.47  8,498,104.00      -0.00
2019-01-08 121.69 121.94 121.39 121.43    121.15  7,737,103.00      -0.00
2019-01-09 121.26 121.43 120.80 121.24    120.97  9,349,245.00      -0.01
2019-01-10 121.28 121.41 120.34 120.46    120.19  8,222,860.00       0.00

            beLong  PPO_f2_s5  PPO_f2_s5_Normalized     ...      \
Date                                                    ...
2018-12-12      -1       0.06                  0.28     ...
2018-12-13       1      -0.26                  0.08     ...
2018-12-14       1      -0.22                  0.13     ...
2018-12-17       1       0.20                  0.53     ...
2018-12-18       1       0.55                  0.79     ...
2018-12-19      -1       0.91                  0.93     ...
2018-12-20      -1       0.94                  0.88     ...
2018-12-21       1       0.37                  0.58     ...
2018-12-24      -1       0.26                  0.48     ...
2018-12-26       1      -0.10                  0.29     ...
2018-12-27       1      -0.45                  0.18     ...
2018-12-28       1      -0.07                  0.33     ...
2018-12-31       1       0.41                  0.55     ...
2019-01-02       1       0.72                  0.69     ...
2019-01-03      -1       0.98                  0.78     ...
2019-01-04      -1       0.62                  0.60     ...
2019-01-07      -1      -0.23                  0.20     ...
2019-01-08      -1      -0.50                  0.13     ...
2019-01-09      -1      -0.56                  0.13     ...
2019-01-10      -1      -0.45                  0.19     ...

            RSI_2_Normalized  CMO_5  CMO_5_Normalized  CCI_10  \
Date
2018-12-12              0.00  41.81              0.32   55.48
2018-12-13              0.01  22.75              0.15   37.89
2018-12-14              0.23  38.00              0.29   45.74
2018-12-17              0.51  56.19              0.49   86.53
2018-12-18              0.54  64.34              0.58  145.79
2018-12-19              0.60  80.77              0.74  246.31
2018-12-20              0.30  55.78              0.47  164.57
2018-12-21              0.32  54.57              0.49   98.12
2018-12-24              0.53  64.84              0.58   95.80
2018-12-26              0.05   2.23              0.11   39.61
2018-12-27              0.05   2.94              0.11   30.79
2018-12-28              0.43  33.42              0.32   45.12
2018-12-31              0.52  43.52              0.39   76.13
2019-01-02              0.59  55.30              0.50  159.70
2019-01-03              0.64  71.47              0.65  247.94
2019-01-04              0.07  17.04              0.16   80.86
2019-01-07              0.08   6.41              0.09   55.79
2019-01-08              0.14  -3.35              0.05    9.56
2019-01-09              0.18  -9.50              0.09  -32.63
2019-01-10              0.14 -31.80              0.04  -80.05

            CCI_10_Normalized  UltOsc_t110_t220_t330  \
Date
2018-12-12               0.04                  58.16
2018-12-13               0.03                  57.64
2018-12-14               0.17                  57.70
2018-12-17               0.43                  58.77
2018-12-18               0.79                  57.30
2018-12-19               0.99                  58.01
2018-12-20               0.81                  55.21
2018-12-21               0.51                  52.18
2018-12-24               0.48                  54.33
2018-12-26               0.25                  49.69
2018-12-27               0.23                  46.18
2018-12-28               0.29                  51.12
2018-12-31               0.41                  54.05
2019-01-02               0.76                  55.15
2019-01-03               0.94                  56.30
2019-01-04               0.44                  49.84
2019-01-07               0.36                  50.68
2019-01-08               0.13                  48.88
2019-01-09               0.05                  48.54
2019-01-10               0.01                  49.17

            UltOsc_t110_t220_t330_Normalized  ROC_10  ROC_10_Normalized  \
Date
2018-12-12                              0.54    2.90               0.74
2018-12-13                              0.52    3.16               0.70
2018-12-14                              0.52    3.12               0.67
2018-12-17                              0.62    3.33               0.70
2018-12-18                              0.44    3.21               0.68
2018-12-19                              0.56    2.85               0.59
2018-12-20                              0.11    2.16               0.41
2018-12-21                              0.01    1.95               0.37
2018-12-24                              0.16    2.04               0.38
2018-12-26                              0.01    0.96               0.19
2018-12-27                              0.01    1.43               0.28
2018-12-28                              0.12    2.52               0.49
2018-12-31                              0.26    2.56               0.48
2019-01-02                              0.30    2.50               0.45
2019-01-03                              0.39    3.29               0.74
2019-01-04                              0.03    0.77               0.01
2019-01-07                              0.09    0.84               0.03
2019-01-08                              0.13    0.59               0.03
2019-01-09                              0.16   -0.07               0.03
2019-01-10                              0.22    0.37               0.12

            Close_lag3
Date
2018-12-12      119.17
2018-12-13      119.60
2018-12-14      121.18
2018-12-17      120.74
2018-12-18      120.72
2018-12-19      121.32
2018-12-20      120.02
2018-12-21      120.04
2018-12-24      121.05
2018-12-26      121.51
2018-12-27      122.15
2018-12-28      123.54
2018-12-31      122.11
2019-01-02      121.75
2019-01-03      121.43
2019-01-04      121.24
2019-01-07      120.46
2019-01-08      121.04
2019-01-09      120.85
2019-01-10      120.46

[20 rows x 23 columns]
Current feature:  Close_lag3
transform:  ['Normalized', 20]
pass params [20]

f8
fname:  Lag
params:  ['Close', 5]
Date
2018-12-12   121.18
2018-12-13   120.74
2018-12-14   120.72
2018-12-17   121.32
2018-12-18   120.02
2018-12-19   120.04
2018-12-20   121.05
2018-12-21   121.51
2018-12-24   122.15
2018-12-26   123.54
2018-12-27   122.11
2018-12-28   121.75
2018-12-31   121.43
2019-01-02   121.24
2019-01-03   120.46
2019-01-04      nan
2019-01-07      nan
2019-01-08      nan
2019-01-09      nan
2019-01-10      nan
Name: Close_lag5, dtype: float64
===============
             Open   High    Low  Close  AdjClose        Volume  gainAhead  \
Date
2018-12-12 118.58 118.72 118.24 118.35    117.80  6,182,206.00      -0.00
2018-12-13 118.46 118.58 117.98 118.07    117.53  5,564,328.00       0.00
2018-12-14 118.55 118.77 118.22 118.48    117.93  8,169,221.00       0.01
2018-12-17 118.59 119.30 118.58 119.17    118.62  9,726,781.00       0.00
2018-12-18 119.07 119.78 118.94 119.60    119.33 10,019,103.00       0.01
2018-12-19 120.11 121.66 119.92 121.18    120.91 23,046,272.00      -0.00
2018-12-20 122.01 122.03 120.67 120.74    120.47 18,543,731.00      -0.00
2018-12-21 121.14 121.21 120.39 120.72    120.45  9,945,103.00       0.00
2018-12-24 121.13 121.42 120.91 121.32    121.05  8,377,482.00      -0.01
2018-12-26 120.99 121.39 119.97 120.02    119.75 11,700,412.00       0.00
2018-12-27 121.26 121.38 119.98 120.04    119.77 12,146,772.00       0.01
2018-12-28 120.40 121.05 120.29 121.05    120.78  9,879,116.00       0.00
2018-12-31 120.65 121.56 120.46 121.51    121.23 17,408,971.00       0.01
2019-01-02 121.66 122.16 121.34 122.15    121.87 19,841,527.00       0.01
2019-01-03 122.29 123.86 122.23 123.54    123.26 21,187,045.00      -0.01
2019-01-04 122.34 122.56 121.65 122.11    121.83 12,970,226.00      -0.00
2019-01-07 122.62 122.65 121.62 121.75    121.47  8,498,104.00      -0.00
2019-01-08 121.69 121.94 121.39 121.43    121.15  7,737,103.00      -0.00
2019-01-09 121.26 121.43 120.80 121.24    120.97  9,349,245.00      -0.01
2019-01-10 121.28 121.41 120.34 120.46    120.19  8,222,860.00       0.00

            beLong  PPO_f2_s5  PPO_f2_s5_Normalized     ...      \
Date                                                    ...
2018-12-12      -1       0.06                  0.28     ...
2018-12-13       1      -0.26                  0.08     ...
2018-12-14       1      -0.22                  0.13     ...
2018-12-17       1       0.20                  0.53     ...
2018-12-18       1       0.55                  0.79     ...
2018-12-19      -1       0.91                  0.93     ...
2018-12-20      -1       0.94                  0.88     ...
2018-12-21       1       0.37                  0.58     ...
2018-12-24      -1       0.26                  0.48     ...
2018-12-26       1      -0.10                  0.29     ...
2018-12-27       1      -0.45                  0.18     ...
2018-12-28       1      -0.07                  0.33     ...
2018-12-31       1       0.41                  0.55     ...
2019-01-02       1       0.72                  0.69     ...
2019-01-03      -1       0.98                  0.78     ...
2019-01-04      -1       0.62                  0.60     ...
2019-01-07      -1      -0.23                  0.20     ...
2019-01-08      -1      -0.50                  0.13     ...
2019-01-09      -1      -0.56                  0.13     ...
2019-01-10      -1      -0.45                  0.19     ...

            CMO_5_Normalized  CCI_10  CCI_10_Normalized  \
Date
2018-12-12              0.32   55.48               0.04
2018-12-13              0.15   37.89               0.03
2018-12-14              0.29   45.74               0.17
2018-12-17              0.49   86.53               0.43
2018-12-18              0.58  145.79               0.79
2018-12-19              0.74  246.31               0.99
2018-12-20              0.47  164.57               0.81
2018-12-21              0.49   98.12               0.51
2018-12-24              0.58   95.80               0.48
2018-12-26              0.11   39.61               0.25
2018-12-27              0.11   30.79               0.23
2018-12-28              0.32   45.12               0.29
2018-12-31              0.39   76.13               0.41
2019-01-02              0.50  159.70               0.76
2019-01-03              0.65  247.94               0.94
2019-01-04              0.16   80.86               0.44
2019-01-07              0.09   55.79               0.36
2019-01-08              0.05    9.56               0.13
2019-01-09              0.09  -32.63               0.05
2019-01-10              0.04  -80.05               0.01

            UltOsc_t110_t220_t330  UltOsc_t110_t220_t330_Normalized  ROC_10  \
Date
2018-12-12                  58.16                              0.54    2.90
2018-12-13                  57.64                              0.52    3.16
2018-12-14                  57.70                              0.52    3.12
2018-12-17                  58.77                              0.62    3.33
2018-12-18                  57.30                              0.44    3.21
2018-12-19                  58.01                              0.56    2.85
2018-12-20                  55.21                              0.11    2.16
2018-12-21                  52.18                              0.01    1.95
2018-12-24                  54.33                              0.16    2.04
2018-12-26                  49.69                              0.01    0.96
2018-12-27                  46.18                              0.01    1.43
2018-12-28                  51.12                              0.12    2.52
2018-12-31                  54.05                              0.26    2.56
2019-01-02                  55.15                              0.30    2.50
2019-01-03                  56.30                              0.39    3.29
2019-01-04                  49.84                              0.03    0.77
2019-01-07                  50.68                              0.09    0.84
2019-01-08                  48.88                              0.13    0.59
2019-01-09                  48.54                              0.16   -0.07
2019-01-10                  49.17                              0.22    0.37

            ROC_10_Normalized  Close_lag3  Close_lag3_Normalized  Close_lag5
Date
2018-12-12               0.74      119.17                   0.89      121.18
2018-12-13               0.70      119.60                   0.88      120.74
2018-12-14               0.67      121.18                   0.90      120.72
2018-12-17               0.70      120.74                   0.79      121.32
2018-12-18               0.68      120.72                   0.75      120.02
2018-12-19               0.59      121.32                   0.80      120.04
2018-12-20               0.41      120.02                   0.68      121.05
2018-12-21               0.37      120.04                   0.75      121.51
2018-12-24               0.38      121.05                   0.88      122.15
2018-12-26               0.19      121.51                   0.90      123.54
2018-12-27               0.28      122.15                   0.90      122.11
2018-12-28               0.49      123.54                   0.96      121.75
2018-12-31               0.48      122.11                   0.81      121.43
2019-01-02               0.45      121.75                   0.76      121.24
2019-01-03               0.74      121.43                   0.66      120.46
2019-01-04               0.01      121.24                   0.59      121.40
2019-01-07               0.03      120.46                   0.41      121.22
2019-01-08               0.03      121.04                   0.54      121.04
2019-01-09               0.03      120.85                   0.44      120.85
2019-01-10               0.12      120.46                   0.30      120.46

[20 rows x 25 columns]
Current feature:  Close_lag5
transform:  ['Normalized', 20]
pass params [20]

f9
fname:  ChaikinADOSC
params:  [4, 10]
Current feature:  ChaikinADOSC_f4_s10
transform:  ['Normalized', 20]
pass params [20]

In [40]:
feat_df = transf.normalizer(feat_df, 'Volume', 50)

In [41]:
feat_df.tail(2)

,Open,High,Low,Close,AdjClose,Volume,gainAhead,beLong,PPO_f2_s5,PPO_f2_s5_Normalized,...,UltOsc_t110_t220_t330_Normalized,ROC_10,ROC_10_Normalized,Close_lag3,Close_lag3_Normalized,Close_lag5,Close_lag5_Normalized,ChaikinADOSC_f4_s10,ChaikinADOSC_f4_s10_Normalized,Volume_Normalized
Date,,,,,,,,,,,,,,,,,,,,,
2019-01-09,121.26,121.43,120.80,121.24,120.97,"9,349,245.00",-0.01,-1,-0.56,0.13,...,0.16,-0.07,0.03,120.85,0.44,120.85,0.33,"7,616,566.46",0.90,0.57
2019-01-10,121.28,121.41,120.34,120.46,120.19,"8,222,860.00",0.00,-1,-0.45,0.19,...,0.22,0.37,0.12,120.46,0.30,120.46,0.15,"5,027,560.46",0.72,0.45

In [42]:
col_vals = [k for k,v in feature_dict.items() if v == 'Drop']
to_drop = ['Open','High','Low', 'gainAhead', 'Close', 'Volume', 'AdjClose', 'beLong']
for x in to_drop:
    col_vals.append(x)
model_data = dSet.drop_columns(feat_df, col_vals)

In [43]:
model_data.tail(2)

,PPO_f2_s5_Normalized,RSI_2_Normalized,UltOsc_t110_t220_t330_Normalized,ROC_10_Normalized,Close_lag3_Normalized,Close_lag5_Normalized,ChaikinADOSC_f4_s10_Normalized,Volume_Normalized
Date,,,,,,,,
2019-01-09,0.13,0.18,0.16,0.03,0.44,0.33,0.90,0.57
2019-01-10,0.19,0.14,0.22,0.12,0.30,0.15,0.72,0.45

In [44]:
# Retrieve model
best_model_name = system_dict["best_model"]
file_title = "fit-model-" + best_model_name + "-IS-" + system_name + ".sav"
file_name = os.path.join(system_directory, file_title)
model = pickle.load(open(file_name, 'rb'))

In [45]:
# get last row of data
lastRow = model_data.shape[0]
model_end_date = model_data.index[lastRow-1]
print(model_end_date)

2019-01-10 00:00:00

In [46]:
# Make prediction
predict_data = model_data.iloc[lastRow-1]
dX = np.zeros_like(predict_data)
dX = predict_data.values
dX = dX.reshape(1, -1)
dX

array([[ 0.19483566,  0.14378957,  0.21916726,  0.11880301,  0.29605923,
         0.15034262,  0.72466445,  0.44601297]])

In [47]:
# get prediction
y_validate = []
y_validate = model.predict(dX)
y_validate

array([1])

In [48]:
y_validate[0]

1

In [49]:
# Get shadow trades
filename = "OOS_Equity_daybyday_" + system_name + ".csv"
path = system_directory+ "\\" + filename
shadow_trades = pd.read_csv(path)

In [50]:
shadow_trades.tail(2)

          Date  signal  gainAhead  Close
87  2019-01-08       1      -0.00 121.43
88  2019-01-09       1       0.00 121.24

In [51]:
model_data.tail(3)

,PPO_f2_s5_Normalized,RSI_2_Normalized,UltOsc_t110_t220_t330_Normalized,ROC_10_Normalized,Close_lag3_Normalized,Close_lag5_Normalized,ChaikinADOSC_f4_s10_Normalized,Volume_Normalized
Date,,,,,,,,
2019-01-08,0.13,0.14,0.13,0.03,0.54,0.44,0.99,0.42
2019-01-09,0.13,0.18,0.16,0.03,0.44,0.33,0.90,0.57
2019-01-10,0.19,0.14,0.22,0.12,0.30,0.15,0.72,0.45

In [52]:
feat_df.Close[lastRow-1]

120.45999999999999

#### Update shadow trades to start
- Current date, signal for date, Close for date, gainAhead for previous Day

In [53]:
new_st_df = shadow_trades.append({'Date' : tradeDate , 'signal' : y_validate[0], 'gainAhead' : 0.000, 'Close' : feat_df.Close[lastRow-1] } , ignore_index=True)

In [54]:
new_st_df.tail(3)

          Date  signal  gainAhead  Close
87  2019-01-08       1      -0.00 121.43
88  2019-01-09       1       0.00 121.24
89  2019-01-10       1       0.00 120.46

In [55]:
new_st_df['gainAhead'] = ct.gainAhead(new_st_df.Close)

In [56]:
new_st_df.tail(3)

          Date  signal  gainAhead  Close
87  2019-01-08       1      -0.00 121.43
88  2019-01-09       1      -0.01 121.24
89  2019-01-10       1       0.00 120.46

#### Save updated shadow trades

In [57]:
#print(df_to_save)
filename = "OOS_Equity_daybyday_" + system_name + ".csv"
new_st_df.to_csv(system_directory+ "\\" + filename, encoding='utf-8', index=False)

#### Load TMS - Part 1

In [58]:
filename = "TMS_Part1_daybyday_" + system_name + ".csv"
path = system_directory+ "\\" + filename
tms1 = pd.read_csv(path)
tms1.tail(3)

          Date  signal  gainAhead  Close  safef  CAR25
86  2019-01-07       1      -0.00 121.75   4.00 182.19
87  2019-01-08       1      -0.00 121.43   4.08 180.85
88  2019-01-09       1       0.00 121.24   4.27 175.96

In [59]:
# Update TMS-Part 1 data with latest date
sst = tms1.append({'Date' : tradeDate , 'signal' : y_validate[0], 'gainAhead' : 0, 'Close' :  feat_df.Close[lastRow-1]} , ignore_index=True)
sst.tail(3)

          Date  signal  gainAhead  Close  safef  CAR25
87  2019-01-08       1      -0.00 121.43   4.08 180.85
88  2019-01-09       1       0.00 121.24   4.27 175.96
89  2019-01-10       1       0.00 120.46    nan    nan

In [60]:
# Update with gainAhead
end = sst.index[-2]
sst.iloc[end,sst.columns.get_loc('gainAhead')] = new_st_df.iloc[end,new_st_df.columns.get_loc('gainAhead')]
sst.tail(3)

          Date  signal  gainAhead  Close  safef  CAR25
87  2019-01-08       1      -0.00 121.43   4.08 180.85
88  2019-01-09       1      -0.01 121.24   4.27 175.96
89  2019-01-10       1       0.00 120.46    nan    nan

#### Update TMS-Part 1 with safe-f, CAR25

In [61]:
nrows = sst.shape[0]
# sst = sst.set_index(pd.DatetimeIndex(sst['Date']))
start = sst.index[0]
end = sst.index[-1]

iStart = sst.index.get_loc(end)-1
iEnd = sst.index.get_loc(end)

In [62]:
# retrieve tms_dict
file_name = 'tms_dict.json'
file_path = os.path.join(system_directory, file_name)
tms_dict = load_json(file_path)

forecastHorizon = tms_dict["forecastHorizon"]
initialEquity = tms_dict["initialEquity"]
ddTolerance = tms_dict["ddTolerance"]
tailRiskPct = tms_dict["tailRiskPct"]
windowLength = tms_dict["windowLength"]
nCurves = tms_dict["nCurves"]
updateInterval = tms_dict["updateInterval"]

years_in_forecast = forecastHorizon / 252.0

printDetails = False

In [63]:
# Calculate safe-f, CAR25
for i in range(iStart, iEnd+1, updateInterval):
    if printDetails: 
        print ("\nDate: ", dt.datetime.strftime(sst.index[i], '%Y-%m-%d'))
        print ("beLong: ", sst.signal[i])
        print ("gain Ahead: {0:.4f}".format(sst.gainAhead[i]))

#  Initialize variables
    curves = np.zeros(nCurves)
    numberDraws = np.zeros(nCurves)
    TWR = np.zeros(nCurves)
    maxDD = np.zeros(nCurves)
    
    fraction = 1.00
    dd95 = 2 * ddTolerance
    
    while (abs(dd95-ddTolerance)>0.03):
        #  Generate nCurve equity curves
        if printDetails: 
            print  ("    Fraction {0:.2f}".format(fraction))
#    
        for nc in range(nCurves):
            #print ("working on curve ", nc)
            equity = initialEquity
            maxEquity = equity
            drawdown = 0
            maxDrawdown = 0
            horizonSoFar = 0
            nd = 0
            while (horizonSoFar < forecastHorizon):
                j = np.random.randint(0,windowLength)
        #        print j
                nd = nd + 1
                weightJ = 1.00 - j/windowLength
        #        print weightJ
                horizonSoFar = horizonSoFar + weightJ
                signalJ = sst.signal[i-j]
                if signalJ > 0:
                    tradeJ = sst.gainAhead[i-j] * weightJ
                else:
                    tradeJ = 0.0
                thisTrade = fraction * tradeJ * equity    
                equity = equity + thisTrade
                maxEquity = max(equity,maxEquity)
                drawdown = (maxEquity-equity)/maxEquity
                maxDrawdown = max(drawdown,maxDrawdown)
    #        print "equity, maxDD, ndraws:", equity, maxDrawdown, nd        
            TWR[nc] = equity
            maxDD[nc] = maxDrawdown
            numberDraws[nc] = nd
    
        #  Find the drawdown at the tailLimit-th percentile        
        dd95 = stats.scoreatpercentile(maxDD,tailRiskPct)
        if printDetails: 
            print ('  DD {0}: {1:.3f} '.format(tailRiskPct, dd95))
        fraction = fraction * ddTolerance / dd95
        TWR25 = stats.scoreatpercentile(TWR,25)        
        CAR25 = 100*(((TWR25/initialEquity) ** (1.0/years_in_forecast))-1.0)
    if printDetails: 
        print ('Fraction: {0:.2f}'.format(fraction))
        print ('CAR25: {0:.2f}'.format(CAR25))
    sst.iloc[i,sst.columns.get_loc('safef')] = fraction
    sst.iloc[i,sst.columns.get_loc('CAR25')] = CAR25
    #sst.loc[i,'CAR25'] = CAR25

In [65]:
sst.tail(5)

          Date  signal  gainAhead  Close  safef  CAR25
85  2019-01-04       1      -0.00 122.11   4.11 238.46
86  2019-01-07       1      -0.00 121.75   4.00 182.19
87  2019-01-08       1      -0.00 121.43   4.08 180.85
88  2019-01-09       1      -0.01 121.24   3.36 108.40
89  2019-01-10       1       0.00 120.46   3.48 102.19

#### Save updated shadow trades

In [66]:
df_to_save = sst.copy()
#df_to_save.reset_index(level=df_to_save.index.names, inplace=True)
filename = "TMS_Part1_daybyday_" + system_name + ".csv"
df_to_save.to_csv(system_directory+ "\\" + filename, encoding='utf-8', index=False)

In [67]:
df_to_save.tail(3)

          Date  signal  gainAhead  Close  safef  CAR25
87  2019-01-08       1      -0.00 121.43   4.08 180.85
88  2019-01-09       1      -0.01 121.24   3.36 108.40
89  2019-01-10       1       0.00 120.46   3.48 102.19

#### Now go to TMS Part 2

In [68]:
filename = "TMS_Part2_daybyday_" + system_name + ".csv"
path = system_directory+ "\\" + filename
tms2 = pd.read_csv(path)
tms2.tail(3)

,Date,signal,gainAhead,Close,safef,CAR25,trade,fract,equity,maxEquity,drawdown,maxDD,trade_decision
86,2019-01-07,1,-0.00,121.75,4.30,234.24,"-1,745.17",4.30,"145,361.78","150,881.27",0.04,0.10,Long
87,2019-01-08,1,-0.00,121.43,4.00,199.06,-977.92,4.00,"144,383.86","150,881.27",0.04,0.10,Long
88,2019-01-09,1,0.00,121.24,4.27,175.96,nan,nan,nan,nan,nan,nan,Long

#### Append last day  form TMS Part 1 to TMS Part 2

In [69]:
tms21 = tms2.copy()
sst1 = sst.copy()
#sst1.reset_index(level=sst1.index.names, inplace=True)
tms21.loc[sst1.index[-1]] = sst1.iloc[-1]

In [70]:
tms21.tail(3)

,Date,signal,gainAhead,Close,safef,CAR25,trade,fract,equity,maxEquity,drawdown,maxDD,trade_decision
87,2019-01-08,1,-0.00,121.43,4.00,199.06,-977.92,4.00,"144,383.86","150,881.27",0.04,0.10,Long
88,2019-01-09,1,0.00,121.24,4.27,175.96,nan,nan,nan,nan,nan,nan,Long
89,2019-01-10,1,0.00,120.46,3.48,102.19,nan,nan,nan,nan,nan,nan,NaN

In [71]:
nrows = tms21.shape[0]
start = tms21.index[0]
end = tms21.index[-1]

iStart = tms21.index.get_loc(end)-1
iEnd = tms21.index.get_loc(end)

In [72]:
iStart

88

In [73]:
# Update gainAhead
tms21.iloc[iStart,tms21.columns.get_loc('gainAhead')] = sst1.iloc[iStart,sst1.columns.get_loc('gainAhead')]

In [74]:
tms21.tail(3)

,Date,signal,gainAhead,Close,safef,CAR25,trade,fract,equity,maxEquity,drawdown,maxDD,trade_decision
87,2019-01-08,1,-0.00,121.43,4.00,199.06,-977.92,4.00,"144,383.86","150,881.27",0.04,0.10,Long
88,2019-01-09,1,-0.01,121.24,4.27,175.96,nan,nan,nan,nan,nan,nan,Long
89,2019-01-10,1,0.00,120.46,3.48,102.19,nan,nan,nan,nan,nan,nan,NaN

In [75]:
# Update trade_decision with current date decision
tms21.iloc[iEnd,tms21.columns.get_loc('trade_decision')] = 'Long'

In [76]:
tms21.tail(3)

,Date,signal,gainAhead,Close,safef,CAR25,trade,fract,equity,maxEquity,drawdown,maxDD,trade_decision
87,2019-01-08,1,-0.00,121.43,4.00,199.06,-977.92,4.00,"144,383.86","150,881.27",0.04,0.10,Long
88,2019-01-09,1,-0.01,121.24,4.27,175.96,nan,nan,nan,nan,nan,nan,Long
89,2019-01-10,1,0.00,120.46,3.48,102.19,nan,nan,nan,nan,nan,nan,Long

In [77]:
for i in range(iStart, iEnd):
    if (tms21.trade_decision[i] == 'Long'):
        tms21.iloc[i,tms21.columns.get_loc('trade')] = tms21.iloc[i-1,tms21.columns.get_loc('fract')] * tms21.iloc[i-1,tms21.columns.get_loc('equity')] * tms21.iloc[i,tms21.columns.get_loc('gainAhead')]
    elif (tms21.signal[i] > 0):
        tms21.iloc[i,tms21.columns.get_loc('trade')] = tms21.iloc[i-1,tms21.columns.get_loc('fract')] * tms21.iloc[i-1,tms21.columns.get_loc('equity')] * tms21.iloc[i,tms21.columns.get_loc('gainAhead')]
    else:
        tms21.iloc[i,tms21.columns.get_loc('trade')] = 0.0
        
    tms21.iloc[i,tms21.columns.get_loc('fract')] = tms21.iloc[i,tms21.columns.get_loc('safef')]
    
    tms21.iloc[i,tms21.columns.get_loc('equity')] = tms21.iloc[i-1,tms21.columns.get_loc('equity')] + tms21.iloc[i,tms21.columns.get_loc('trade')]
    tms21.iloc[i,tms21.columns.get_loc('maxEquity')] = max(tms21.iloc[i,tms21.columns.get_loc('equity')],tms21.iloc[i-1,tms21.columns.get_loc('maxEquity')])
    tms21.iloc[i,tms21.columns.get_loc('drawdown')] = (tms21.iloc[i,tms21.columns.get_loc('maxEquity')] - tms21.iloc[i,tms21.columns.get_loc('equity')]) / tms21.iloc[i,tms21.columns.get_loc('maxEquity')]
    tms21.iloc[i,tms21.columns.get_loc('maxDD')] =  max(tms21.iloc[i,tms21.columns.get_loc('drawdown')],tms21.iloc[i-1,tms21.columns.get_loc('maxDD')])
    tms21.iloc[i,tms21.columns.get_loc('fract')] = tms21.iloc[i,tms21.columns.get_loc('safef')]

In [78]:
tms21.tail(3)

,Date,signal,gainAhead,Close,safef,CAR25,trade,fract,equity,maxEquity,drawdown,maxDD,trade_decision
87,2019-01-08,1,-0.00,121.43,4.00,199.06,-977.92,4.00,"144,383.86","150,881.27",0.04,0.10,Long
88,2019-01-09,1,-0.01,121.24,4.27,175.96,"-3,716.65",4.27,"140,667.21","150,881.27",0.07,0.10,Long
89,2019-01-10,1,0.00,120.46,3.48,102.19,nan,nan,nan,nan,nan,nan,Long

#### Save updated TMS Part 2

In [79]:
df_to_save = tms21.copy()
#df_to_save.reset_index(level=df_to_save.index.names, inplace=True)
filename = "TMS_Part2_daybyday_" + system_name + ".csv"
df_to_save.to_csv(system_directory+ "\\" + filename, encoding='utf-8', index=False)

#### Save system_dict

In [80]:
tradeDate

'2019-01-10'

In [81]:
system_dict

{'best_model': 'SVM',
 'direction': 'Long',
 'is_oos_ratio': 4,
 'issue': 'TLT',
 'oos_months': 4,
 'pivot_date': '2019-01-09',
 'segments': 1,
 'system_name': 'TLT-Long-system-7045-V1',
 'ver_num': 1}

In [82]:
system_dict['pivot_date']=tradeDate
system_dict

{'best_model': 'SVM',
 'direction': 'Long',
 'is_oos_ratio': 4,
 'issue': 'TLT',
 'oos_months': 4,
 'pivot_date': '2019-01-10',
 'segments': 1,
 'system_name': 'TLT-Long-system-7045-V1',
 'ver_num': 1}

In [83]:
save_json('system_dict.json', system_dict)

## End of day completed, 2019-01-10
Trade decision: Long

## Start next day, 2019-01-11