### Next Day, 2019-01-04
Goal: Day by day trading

In [25]:
# Import standard libraries
%matplotlib inline

import pandas as pd
import numpy as np
import datetime
from dateutil.relativedelta import relativedelta
import matplotlib.pylab as plt
from pandas.tseries.offsets import BDay
import os
import os.path
import pickle
import random
import json
from scipy import stats
from datetime import datetime

from sklearn.model_selection import StratifiedShuffleSplit, TimeSeriesSplit
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score

In [26]:
# Import custom libraries
from Code.lib.plot_utils import PlotUtility
from Code.lib.time_utils import TimeUtility
from Code.lib.retrieve_data import DataRetrieve, ComputeTarget, USTradingCalendar
from Code.lib.candle_indicators import CandleIndicators
from Code.lib.transformers import Transformers
from Code.lib.ta_momentum_studies import TALibMomentumStudies
from Code.lib.model_utils import ModelUtility, TimeSeriesSplitImproved
from Code.lib.feature_generator import FeatureGenerator
from Code.utilities.stat_tests import stationarity_tests
from Code.lib.config import current_feature, feature_dict
from Code.models import models_utils
from Code.lib.model_algos import AlgoUtility

plotIt = PlotUtility()
timeUtil = TimeUtility()
ct = ComputeTarget()
candle_ind = CandleIndicators()
dSet = DataRetrieve()
taLibMomSt = TALibMomentumStudies()
transf = Transformers()
modelUtil = ModelUtility()
featureGen = FeatureGenerator()
dSet = DataRetrieve()
modelAlgo = AlgoUtility()

In [27]:
# function to create system directory based on system name if one doesn't already exist
def get_system_dir(system_name):
    # Create system directory in current path
    current_directory = os.getcwd()
    system_directory = os.path.join(current_directory, system_name)
    if not os.path.exists(system_directory):
       os.makedirs(system_directory)
    return system_directory

In [28]:
# functions for save and load json files
def save_json(filename, json_file):
    # Save system_dict to file
    #filename = 'system_dict.json'
    file_path = os.path.join(system_directory, filename)
    with open(file_path, 'w') as fp:
        json.dump(json_file, fp, sort_keys=True, indent=4)
        
def load_json(file_path):
    with open(file_path, 'r') as fp:
        json_file = json.load(fp)
    return json_file

### Get system info

In [53]:
system_name = "TLT-Long-system-6863-V1"

In [54]:
# Get system info
current_directory = os.getcwd()
system_directory = os.path.join(current_directory, system_name)
if not os.path.exists(system_directory):
    print("system doesn't exist")
else:
    filename = 'system_dict.json'    
    file_path = os.path.join(system_directory, filename)
    system_dict = load_json(file_path)
    issue = system_dict["issue"]
    direction = system_dict["direction"]
    ver_num = system_dict["ver_num"]
    # Perhaps only load these when needed?
    pivotDate = system_dict["pivot_date"]
    is_oos_ratio = system_dict["is_oos_ratio"]
    oos_months = system_dict["oos_months"]
    segments = system_dict["segments"]

In [55]:
# temp fix to make sure pivot date is 2019-01-03
system_dict['pivot_date']='2019-01-03'
pivotDate = '2019-01-03'

In [56]:
system_dict

{'best_model': 'SVM',
 'direction': 'Long',
 'is_oos_ratio': 4,
 'issue': 'TLT',
 'oos_months': 4,
 'pivot_date': '2019-01-03',
 'segments': 1,
 'system_name': 'TLT-Long-system-6863-V1',
 'ver_num': 1}

In [57]:
# Set IS-OOS parameters
from datetime import datetime
pivotDate = datetime.strptime(pivotDate, '%Y-%m-%d')
print(pivotDate)
pivotDate = datetime.date(pivotDate)

# set date splits
isOosDates = timeUtil.is_oos_data_split(issue, pivotDate, is_oos_ratio, oos_months, segments)
dataLoadStartDate = isOosDates[0]
is_start_date = isOosDates[1]
oos_start_date = isOosDates[2]
is_months = isOosDates[3]
is_end_date = isOosDates[4]
oos_end_date = isOosDates[5]

modelStartDate = oos_start_date

2019-01-03 00:00:00
                    Segments:  1
                IS OOS Ratio:  4
                  OOS months:  4
                   IS Months:  16
              Months to load:  20
              Data Load Date:  2017-04-03
              IS Start  Date:  2017-05-03
              OOS Start Date:  2018-09-03
                  Pivot Date:  2019-01-03

### Set trade date
In this case, increment to next business day after pivotDate

Do it manually for now

In [58]:
from pandas.tseries.offsets import CustomBusinessDay
us_cal = CustomBusinessDay(calendar=USTradingCalendar())
from pandas.tseries.offsets import BDay

In [59]:
from datetime import timedelta
#tradeDate = pivotDate + timedelta(days=1)
tradeDate = pivotDate + BDay(1)
print(tradeDate)

2019-01-04 00:00:00

### Retrieve feature_dict

In [60]:
file_name = 'feature_dict.json'
file_path = os.path.join(system_directory, file_name)
feature_dict = load_json(file_path)

#### Get TMS - Part 2 output

### Day by day procedure
1. Set trade date
2. Update close, transform
3. Retrieve model
4. Make prediction
5. Update prev day gainAhead, trade (using TRADE DECISION), Equity (what df?)
6. Update shadow trades df from (5)
7. Calculate safe-f, CAR25 (TMS-Part 1)
8. TRADE DECISION
9. Update pivot date in dict

### Steps to walkthrough
1. Make copy of raw data and truncate it to pretend existing date

In [61]:
raw_df = dSet.read_issue_data(issue)

Successfully retrieved data series for TLT

#### Trim df to 2019-01-03, then add 2019-01-04
Don't use set_date_range to update to new date data

In [62]:
tradeDate = tradeDate.strftime('%Y-%m-%d')
tradeDate

'2019-01-04'

In [63]:
# Use trade date instead of hard coding date
trimmed_df = raw_df.iloc[0:raw_df[raw_df.Date == tradeDate].index[0]]
trimmed_df.tail(2)

            Date    Open    High       Low   Close  AdjClose      Volume
4137  2019-01-02  121.66  122.16  121.3401  122.15  121.8731  19841527.0
4138  2019-01-03  122.29  123.86  122.2267  123.54  123.2599  21187045.0

In [64]:
# add 2019-01-04
new_data_df = trimmed_df.append({'Date' : tradeDate , 'Open' : 122.34, 'High' : 122.56, 'Low' : 121.65, 'Close' : 122.11, 'AdjClose' : 121.8332, 'Volume' : 12970226.0 } , ignore_index=True)
new_data_df.tail(2)

            Date    Open    High       Low   Close  AdjClose      Volume
4138  2019-01-03  122.29  123.86  122.2267  123.54  123.2599  21187045.0
4139  2019-01-04  122.34  122.56  121.6500  122.11  121.8332  12970226.0

In [65]:
# get first row
df_start_date = new_data_df.Date[0]
df_start_date

'2002-07-26'

In [66]:
# get last row
lastRow = new_data_df.shape[0]
df_end_date = new_data_df.Date[lastRow-1]
df_end_date

'2019-01-04'

In [67]:
feat_df = dSet.set_date_range(new_data_df, df_start_date, df_end_date)
# Resolve any NA's for now
feat_df.fillna(method='ffill', inplace=True)

#set beLong level
beLongThreshold = 0.000
feat_df = ct.setTarget(new_data_df, "Long", beLongThreshold)

In [68]:
feat_df.tail(2)

,Open,High,Low,Close,AdjClose,Volume,gainAhead,beLong
Date,,,,,,,,
2019-01-03,122.29,123.86,122.2267,123.54,123.2599,21187045.0,-0.011575,-1
2019-01-04,122.34,122.56,121.6500,122.11,121.8332,12970226.0,0.000000,-1

#### Adding features with new day
Should I be generating new features again?
How would add just one day's worth?

In [69]:
file_name = 'input_dict.json'
file_path = os.path.join(system_directory, file_name)
input_dict = load_json(file_path)

In [70]:
input_dict

{'f1': {'fname': 'PPO', 'params': [2, 5], 'transform': ['Normalized', 20]},
 'f10': {'fname': 'kaufman_AMA',
  'params': [4],
  'transform': ['Normalized', 20]},
 'f2': {'fname': 'RSI', 'params': [2], 'transform': ['Normalized', 20]},
 'f3': {'fname': 'CMO', 'params': [5], 'transform': ['Normalized', 20]},
 'f4': {'fname': 'CCI', 'params': [10], 'transform': ['Normalized', 20]},
 'f5': {'fname': 'UltimateOscillator',
  'params': [10, 20, 30],
  'transform': ['Normalized', 20]},
 'f6': {'fname': 'ROC', 'params': [10], 'transform': ['Normalized', 20]},
 'f7': {'fname': 'Lag',
  'params': ['Close', 3],
  'transform': ['Normalized', 20]},
 'f8': {'fname': 'Lag',
  'params': ['Close', 5],
  'transform': ['Normalized', 20]},
 'f9': {'fname': 'ChaikinADOSC',
  'params': [4, 10],
  'transform': ['Normalized', 20]}}

In [71]:
feat_df = featureGen.generate_features(feat_df, input_dict)

f1
fname:  PPO
params:  [2, 5]
Current feature:  PPO_f2_s5
transform:  ['Normalized', 20]
pass params [20]
f10
fname:  kaufman_AMA
params:  [4]
Current feature:  KAMA_4
transform:  ['Normalized', 20]
pass params [20]
f2
fname:  RSI
params:  [2]
Current feature:  RSI_2
transform:  ['Normalized', 20]
pass params [20]
f3
fname:  CMO
params:  [5]
Current feature:  CMO_5
transform:  ['Normalized', 20]
pass params [20]
f4
fname:  CCI
params:  [10]
Current feature:  CCI_10
transform:  ['Normalized', 20]
pass params [20]
f5
fname:  UltimateOscillator
params:  [10, 20, 30]
Current feature:  UltOsc_t110_t220_t330
transform:  ['Normalized', 20]
pass params [20]
f6
fname:  ROC
params:  [10]
Current feature:  ROC_10
transform:  ['Normalized', 20]
pass params [20]
f7
fname:  Lag
params:  ['Close', 3]
Date
2018-12-06    118.88
2018-12-07    118.35
2018-12-10    118.07
2018-12-11    118.48
2018-12-12    119.17
2018-12-13    119.60
2018-12-14    121.18
2018-12-17    120.74
2018-12-18    120.72
2018-12-19    121.32
2018-12-20    120.02
2018-12-21    120.04
2018-12-24    121.05
2018-12-26    121.51
2018-12-27    122.15
2018-12-28    123.54
2018-12-31    122.11
2019-01-02       NaN
2019-01-03       NaN
2019-01-04       NaN
Name: Close_lag3, dtype: float64
===============
              Open     High       Low   Close  AdjClose      Volume  \
Date
2018-12-06  118.54  119.200  118.1300  118.19  117.6448  15319440.0
2018-12-07  117.81  118.530  117.5200  118.41  117.8638   8608467.0
2018-12-10  118.87  119.280  118.4400  118.90  118.3515   8777672.0
2018-12-11  118.97  119.380  118.6100  118.88  118.3316   8071952.0
2018-12-12  118.58  118.720  118.2400  118.35  117.8040   6182206.0
2018-12-13  118.46  118.580  117.9800  118.07  117.5253   5564328.0
2018-12-14  118.55  118.770  118.2200  118.48  117.9334   8169221.0
2018-12-17  118.59  119.300  118.5800  119.17  118.6203   9726781.0
2018-12-18  119.07  119.785  118.9400  119.60  119.3289  10019103.0
2018-12-19  120.11  121.660  119.9200  121.18  120.9053  23046272.0
2018-12-20  122.01  122.030  120.6700  120.74  120.4663  18543731.0
2018-12-21  121.14  121.210  120.3900  120.72  120.4463   9945103.0
2018-12-24  121.13  121.420  120.9100  121.32  121.0450   8377482.0
2018-12-26  120.99  121.390  119.9700  120.02  119.7479  11700412.0
2018-12-27  121.26  121.380  119.9800  120.04  119.7679  12146772.0
2018-12-28  120.40  121.050  120.2900  121.05  120.7756   9879116.0
2018-12-31  120.65  121.560  120.4600  121.51  121.2345  17408971.0
2019-01-02  121.66  122.160  121.3401  122.15  121.8731  19841527.0
2019-01-03  122.29  123.860  122.2267  123.54  123.2599  21187045.0
2019-01-04  122.34  122.560  121.6500  122.11  121.8332  12970226.0

            gainAhead  beLong  PPO_f2_s5  PPO_f2_s5_Normalized     ...      \
Date                                                               ...
2018-12-06   0.001861       1   1.357967              0.997086     ...
2018-12-07   0.004138       1   1.002339              0.984689     ...
2018-12-10  -0.000168      -1   0.691616              0.884958     ...
2018-12-11  -0.004458      -1   0.379939              0.540122     ...
2018-12-12  -0.002366      -1   0.058205              0.276064     ...
2018-12-13   0.003473       1  -0.263242              0.082817     ...
2018-12-14   0.005824       1  -0.220186              0.133998     ...
2018-12-17   0.003608       1   0.198162              0.527399     ...
2018-12-18   0.013211       1   0.548284              0.788655     ...
2018-12-19  -0.003631      -1   0.913663              0.925300     ...
2018-12-20  -0.000166      -1   0.939633              0.881740     ...
2018-12-21   0.004970       1   0.372458              0.579401     ...
2018-12-24  -0.010715      -1   0.255153              0.484440     ...
2018-12-26   0.000167       1  -0.104308              0.294287     ...
2018-12-27   0.008414       1  -0.446221              0.177998     ...
2018-12-28   0.003800       1  -0.070463              0.327940     ...
2018-12-31   0.005267       1   0.407325              0.545069     ...
2019-01-02   0.011379       1   0.724242              0.685333     ...
2019-01-03  -0.011575      -1   0.975686              0.782509     ...
2019-01-04   0.000000      -1   0.616849              0.598571     ...

            RSI_2_Normalized      CMO_5  CMO_5_Normalized      CCI_10  \
Date
2018-12-06          0.649508  82.830493          0.859372  193.956518
2018-12-07          0.618017  84.216444          0.886545  112.757715
2018-12-10          0.631908  87.112692          0.919161  107.175583
2018-12-11          0.592531  85.377167          0.885627   87.029206
2018-12-12          0.000662  41.807605          0.322333   55.475623
2018-12-13          0.005597  22.754849          0.151269   37.886877
2018-12-14          0.234772  38.001524          0.287364   45.743343
2018-12-17          0.511067  56.191660          0.487936   86.525999
2018-12-18          0.542409  64.341474          0.580507  145.794603
2018-12-19          0.600225  80.771432          0.742961  246.310526
2018-12-20          0.297395  55.784996          0.470911  164.570274
2018-12-21          0.317155  54.571076          0.486982   98.115636
2018-12-24          0.534919  64.844020          0.583670   95.802545
2018-12-26          0.046989   2.232561          0.109244   39.605270
2018-12-27          0.051710   2.941503          0.112330   30.792787
2018-12-28          0.431510  33.418471          0.317661   45.117207
2018-12-31          0.519009  43.515902          0.391798   76.131687
2019-01-02          0.587962  55.304304          0.496599  159.695601
2019-01-03          0.638427  71.469548          0.654559  247.935936
2019-01-04          0.071162  17.035946          0.163465   80.859687

            CCI_10_Normalized  UltOsc_t110_t220_t330  \
Date
2018-12-06           0.851838              57.431199
2018-12-07           0.571643              59.464358
2018-12-10           0.529034              61.564761
2018-12-11           0.319235              60.270912
2018-12-12           0.037530              58.164945
2018-12-13           0.030615              57.638061
2018-12-14           0.165710              57.697005
2018-12-17           0.425549              58.769197
2018-12-18           0.793278              57.298522
2018-12-19           0.988591              58.014084
2018-12-20           0.805082              55.214977
2018-12-21           0.507342              52.179578
2018-12-24           0.476473              54.327715
2018-12-26           0.253822              49.691011
2018-12-27           0.225541              46.183860
2018-12-28           0.293985              51.121298
2018-12-31           0.412609              54.050944
2019-01-02           0.764951              55.153356
2019-01-03           0.941671              56.302881
2019-01-04           0.440680              49.835856

            UltOsc_t110_t220_t330_Normalized    ROC_10  ROC_10_Normalized  \
Date
2018-12-06                          0.662366  2.720320           0.786381
2018-12-07                          0.694055  2.947314           0.838573
2018-12-10                          0.751483  3.265590           0.872437
2018-12-11                          0.676619  3.481894           0.884760
2018-12-12                          0.543576  2.904095           0.739157
2018-12-13                          0.515265  3.162953           0.700185
2018-12-14                          0.520287  3.115753           0.672196
2018-12-17                          0.619991  3.329576           0.702885
2018-12-18                          0.443912  3.210217           0.683267
2018-12-19                          0.563118  2.851808           0.594393
2018-12-20                          0.106359  2.157543           0.409397
2018-12-21                          0.012860  1.950849           0.366215
2018-12-24                          0.157539  2.035324           0.383694
2018-12-26                          0.012623  0.958950           0.188563
2018-12-27                          0.005091  1.427968           0.284868
2018-12-28                          0.119531  2.523926           0.487989
2018-12-31                          0.261242  2.557394           0.480257
2019-01-02                          0.303317  2.500629           0.450596
2019-01-03                          0.385714  3.294314           0.743794
2019-01-04                          0.031756  0.767453           0.006328

            Close_lag3
Date
2018-12-06     118.880
2018-12-07     118.350
2018-12-10     118.070
2018-12-11     118.480
2018-12-12     119.170
2018-12-13     119.600
2018-12-14     121.180
2018-12-17     120.740
2018-12-18     120.720
2018-12-19     121.320
2018-12-20     120.020
2018-12-21     120.040
2018-12-24     121.050
2018-12-26     121.510
2018-12-27     122.150
2018-12-28     123.540
2018-12-31     122.110
2019-01-02     122.600
2019-01-03     122.825
2019-01-04     122.110

[20 rows x 23 columns]
Current feature:  Close_lag3
transform:  ['Normalized', 20]
pass params [20]

f8
fname:  Lag
params:  ['Close', 5]
Date
2018-12-06    118.07
2018-12-07    118.48
2018-12-10    119.17
2018-12-11    119.60
2018-12-12    121.18
2018-12-13    120.74
2018-12-14    120.72
2018-12-17    121.32
2018-12-18    120.02
2018-12-19    120.04
2018-12-20    121.05
2018-12-21    121.51
2018-12-24    122.15
2018-12-26    123.54
2018-12-27    122.11
2018-12-28       NaN
2018-12-31       NaN
2019-01-02       NaN
2019-01-03       NaN
2019-01-04       NaN
Name: Close_lag5, dtype: float64
===============
              Open     High       Low   Close  AdjClose      Volume  \
Date
2018-12-06  118.54  119.200  118.1300  118.19  117.6448  15319440.0
2018-12-07  117.81  118.530  117.5200  118.41  117.8638   8608467.0
2018-12-10  118.87  119.280  118.4400  118.90  118.3515   8777672.0
2018-12-11  118.97  119.380  118.6100  118.88  118.3316   8071952.0
2018-12-12  118.58  118.720  118.2400  118.35  117.8040   6182206.0
2018-12-13  118.46  118.580  117.9800  118.07  117.5253   5564328.0
2018-12-14  118.55  118.770  118.2200  118.48  117.9334   8169221.0
2018-12-17  118.59  119.300  118.5800  119.17  118.6203   9726781.0
2018-12-18  119.07  119.785  118.9400  119.60  119.3289  10019103.0
2018-12-19  120.11  121.660  119.9200  121.18  120.9053  23046272.0
2018-12-20  122.01  122.030  120.6700  120.74  120.4663  18543731.0
2018-12-21  121.14  121.210  120.3900  120.72  120.4463   9945103.0
2018-12-24  121.13  121.420  120.9100  121.32  121.0450   8377482.0
2018-12-26  120.99  121.390  119.9700  120.02  119.7479  11700412.0
2018-12-27  121.26  121.380  119.9800  120.04  119.7679  12146772.0
2018-12-28  120.40  121.050  120.2900  121.05  120.7756   9879116.0
2018-12-31  120.65  121.560  120.4600  121.51  121.2345  17408971.0
2019-01-02  121.66  122.160  121.3401  122.15  121.8731  19841527.0
2019-01-03  122.29  123.860  122.2267  123.54  123.2599  21187045.0
2019-01-04  122.34  122.560  121.6500  122.11  121.8332  12970226.0

            gainAhead  beLong  PPO_f2_s5  PPO_f2_s5_Normalized     ...      \
Date                                                               ...
2018-12-06   0.001861       1   1.357967              0.997086     ...
2018-12-07   0.004138       1   1.002339              0.984689     ...
2018-12-10  -0.000168      -1   0.691616              0.884958     ...
2018-12-11  -0.004458      -1   0.379939              0.540122     ...
2018-12-12  -0.002366      -1   0.058205              0.276064     ...
2018-12-13   0.003473       1  -0.263242              0.082817     ...
2018-12-14   0.005824       1  -0.220186              0.133998     ...
2018-12-17   0.003608       1   0.198162              0.527399     ...
2018-12-18   0.013211       1   0.548284              0.788655     ...
2018-12-19  -0.003631      -1   0.913663              0.925300     ...
2018-12-20  -0.000166      -1   0.939633              0.881740     ...
2018-12-21   0.004970       1   0.372458              0.579401     ...
2018-12-24  -0.010715      -1   0.255153              0.484440     ...
2018-12-26   0.000167       1  -0.104308              0.294287     ...
2018-12-27   0.008414       1  -0.446221              0.177998     ...
2018-12-28   0.003800       1  -0.070463              0.327940     ...
2018-12-31   0.005267       1   0.407325              0.545069     ...
2019-01-02   0.011379       1   0.724242              0.685333     ...
2019-01-03  -0.011575      -1   0.975686              0.782509     ...
2019-01-04   0.000000      -1   0.616849              0.598571     ...

            CMO_5_Normalized      CCI_10  CCI_10_Normalized  \
Date
2018-12-06          0.859372  193.956518           0.851838
2018-12-07          0.886545  112.757715           0.571643
2018-12-10          0.919161  107.175583           0.529034
2018-12-11          0.885627   87.029206           0.319235
2018-12-12          0.322333   55.475623           0.037530
2018-12-13          0.151269   37.886877           0.030615
2018-12-14          0.287364   45.743343           0.165710
2018-12-17          0.487936   86.525999           0.425549
2018-12-18          0.580507  145.794603           0.793278
2018-12-19          0.742961  246.310526           0.988591
2018-12-20          0.470911  164.570274           0.805082
2018-12-21          0.486982   98.115636           0.507342
2018-12-24          0.583670   95.802545           0.476473
2018-12-26          0.109244   39.605270           0.253822
2018-12-27          0.112330   30.792787           0.225541
2018-12-28          0.317661   45.117207           0.293985
2018-12-31          0.391798   76.131687           0.412609
2019-01-02          0.496599  159.695601           0.764951
2019-01-03          0.654559  247.935936           0.941671
2019-01-04          0.163465   80.859687           0.440680

            UltOsc_t110_t220_t330  UltOsc_t110_t220_t330_Normalized    ROC_10  \
Date
2018-12-06              57.431199                          0.662366  2.720320
2018-12-07              59.464358                          0.694055  2.947314
2018-12-10              61.564761                          0.751483  3.265590
2018-12-11              60.270912                          0.676619  3.481894
2018-12-12              58.164945                          0.543576  2.904095
2018-12-13              57.638061                          0.515265  3.162953
2018-12-14              57.697005                          0.520287  3.115753
2018-12-17              58.769197                          0.619991  3.329576
2018-12-18              57.298522                          0.443912  3.210217
2018-12-19              58.014084                          0.563118  2.851808
2018-12-20              55.214977                          0.106359  2.157543
2018-12-21              52.179578                          0.012860  1.950849
2018-12-24              54.327715                          0.157539  2.035324
2018-12-26              49.691011                          0.012623  0.958950
2018-12-27              46.183860                          0.005091  1.427968
2018-12-28              51.121298                          0.119531  2.523926
2018-12-31              54.050944                          0.261242  2.557394
2019-01-02              55.153356                          0.303317  2.500629
2019-01-03              56.302881                          0.385714  3.294314
2019-01-04              49.835856                          0.031756  0.767453

            ROC_10_Normalized  Close_lag3  Close_lag3_Normalized  Close_lag5
Date
2018-12-06           0.786381     118.880               0.999758    118.0700
2018-12-07           0.838573     118.350               0.973050    118.4800
2018-12-10           0.872437     118.070               0.837581    119.1700
2018-12-11           0.884760     118.480               0.854196    119.6000
2018-12-12           0.739157     119.170               0.887187    121.1800
2018-12-13           0.700185     119.600               0.883649    120.7400
2018-12-14           0.672196     121.180               0.898087    120.7200
2018-12-17           0.702885     120.740               0.785757    121.3200
2018-12-18           0.683267     120.720               0.753673    120.0200
2018-12-19           0.594393     121.320               0.796074    120.0400
2018-12-20           0.409397     120.020               0.678652    121.0500
2018-12-21           0.366215     120.040               0.749525    121.5100
2018-12-24           0.383694     121.050               0.879947    122.1500
2018-12-26           0.188563     121.510               0.899384    123.5400
2018-12-27           0.284868     122.150               0.901450    122.1100
2018-12-28           0.487989     123.540               0.956843    122.0720
2018-12-31           0.480257     122.110               0.809991    122.3275
2019-01-02           0.450596     122.600               0.854388    122.6000
2019-01-03           0.743794     122.825               0.838638    122.8250
2019-01-04           0.006328     122.110               0.705260    122.1100

[20 rows x 25 columns]
Current feature:  Close_lag5
transform:  ['Normalized', 20]
pass params [20]

f9
fname:  ChaikinADOSC
params:  [4, 10]
Current feature:  ChaikinADOSC_f4_s10
transform:  ['Normalized', 20]
pass params [20]

In [72]:
feat_df.tail(2)

,Open,High,Low,Close,AdjClose,Volume,gainAhead,beLong,PPO_f2_s5,PPO_f2_s5_Normalized,...,UltOsc_t110_t220_t330,UltOsc_t110_t220_t330_Normalized,ROC_10,ROC_10_Normalized,Close_lag3,Close_lag3_Normalized,Close_lag5,Close_lag5_Normalized,ChaikinADOSC_f4_s10,ChaikinADOSC_f4_s10_Normalized
Date,,,,,,,,,,,,,,,,,,,,,
2019-01-03,122.29,123.86,122.2267,123.54,123.2599,21187045.0,-0.011575,-1,0.975686,0.782509,...,56.302881,0.385714,3.294314,0.743794,122.825,0.838638,122.825,0.772004,1.149759e+07,0.999931
2019-01-04,122.34,122.56,121.6500,122.11,121.8332,12970226.0,0.000000,-1,0.616849,0.598571,...,49.835856,0.031756,0.767453,0.006328,122.110,0.705260,122.110,0.674094,1.337874e+07,0.999996

In [73]:
feat_df = transf.normalizer(feat_df, 'Volume', 50)

In [74]:
feat_df.tail(2)

,Open,High,Low,Close,AdjClose,Volume,gainAhead,beLong,PPO_f2_s5,PPO_f2_s5_Normalized,...,UltOsc_t110_t220_t330_Normalized,ROC_10,ROC_10_Normalized,Close_lag3,Close_lag3_Normalized,Close_lag5,Close_lag5_Normalized,ChaikinADOSC_f4_s10,ChaikinADOSC_f4_s10_Normalized,Volume_Normalized
Date,,,,,,,,,,,,,,,,,,,,,
2019-01-03,122.29,123.86,122.2267,123.54,123.2599,21187045.0,-0.011575,-1,0.975686,0.782509,...,0.385714,3.294314,0.743794,122.825,0.838638,122.825,0.772004,1.149759e+07,0.999931,0.998861
2019-01-04,122.34,122.56,121.6500,122.11,121.8332,12970226.0,0.000000,-1,0.616849,0.598571,...,0.031756,0.767453,0.006328,122.110,0.705260,122.110,0.674094,1.337874e+07,0.999996,0.833648

In [75]:
col_vals = [k for k,v in feature_dict.items() if v == 'Drop']
to_drop = ['Open','High','Low', 'gainAhead', 'Close', 'Volume', 'AdjClose', 'beLong']
for x in to_drop:
    col_vals.append(x)
model_data = dSet.drop_columns(feat_df, col_vals)

In [76]:
model_data.tail(2)

,PPO_f2_s5_Normalized,RSI_2_Normalized,UltOsc_t110_t220_t330_Normalized,ROC_10_Normalized,Close_lag3_Normalized,Close_lag5_Normalized,ChaikinADOSC_f4_s10_Normalized,Volume_Normalized
Date,,,,,,,,
2019-01-03,0.782509,0.638427,0.385714,0.743794,0.838638,0.772004,0.999931,0.998861
2019-01-04,0.598571,0.071162,0.031756,0.006328,0.705260,0.674094,0.999996,0.833648

In [77]:
# Retrieve model
best_model_name = system_dict["best_model"]
file_title = "fit-model-" + best_model_name + "-IS-" + system_name + ".sav"
file_name = os.path.join(system_directory, file_title)
model = pickle.load(open(file_name, 'rb'))

In [78]:
# get last row of data
lastRow = model_data.shape[0]
model_end_date = model_data.index[lastRow-1]
print(model_end_date)

2019-01-04 00:00:00

In [79]:
# Make prediction
predict_data = model_data.iloc[lastRow-1]
dX = np.zeros_like(predict_data)
dX = predict_data.values
dX = dX.reshape(1, -1)
dX

array([[ 0.59857117,  0.07116229,  0.03175645,  0.0063281 ,  0.7052599 ,
         0.67409429,  0.99999621,  0.83364768]])

In [80]:
# get prediction
y_validate = []
y_validate = model.predict(dX)
y_validate

array([1])

In [81]:
y_validate[0]

1

In [82]:
# Get shadow trades
filename = "OOS_Equity_" + system_name + ".csv"
path = system_directory+ "\\" + filename
shadow_trades = pd.read_csv(path)

In [83]:
shadow_trades.tail(2)

          Date  signal  gainAhead   Close
83  2019-01-02      -1   0.011379  122.15
84  2019-01-03      -1  -0.011575  123.54

In [84]:
model_data.tail(3)

,PPO_f2_s5_Normalized,RSI_2_Normalized,UltOsc_t110_t220_t330_Normalized,ROC_10_Normalized,Close_lag3_Normalized,Close_lag5_Normalized,ChaikinADOSC_f4_s10_Normalized,Volume_Normalized
Date,,,,,,,,
2019-01-02,0.685333,0.587962,0.303317,0.450596,0.854388,0.768498,0.981907,0.998727
2019-01-03,0.782509,0.638427,0.385714,0.743794,0.838638,0.772004,0.999931,0.998861
2019-01-04,0.598571,0.071162,0.031756,0.006328,0.705260,0.674094,0.999996,0.833648

In [85]:
feat_df.Close[lastRow-1]

122.11

#### Update shadow trades to start
- Current date, signal for date, Close for date, gainAhead for previous Day

In [86]:
new_st_df = shadow_trades.append({'Date' : tradeDate , 'signal' : y_validate[0], 'gainAhead' : 0.000, 'Close' : feat_df.Close[lastRow-1] } , ignore_index=True)

In [87]:
new_st_df.tail(3)

          Date  signal  gainAhead   Close
83  2019-01-02      -1   0.011379  122.15
84  2019-01-03      -1  -0.011575  123.54
85  2019-01-04       1   0.000000  122.11

In [88]:
new_st_df['gainAhead'] = ct.gainAhead(new_st_df.Close)

In [89]:
new_st_df.tail(3)

          Date  signal  gainAhead   Close
83  2019-01-02      -1   0.011379  122.15
84  2019-01-03      -1  -0.011575  123.54
85  2019-01-04       1   0.000000  122.11

#### Save updated shadow trades

In [90]:
#print(df_to_save)
filename = "OOS_Equity_daybyday_" + system_name + ".csv"
new_st_df.to_csv(system_directory+ "\\" + filename, encoding='utf-8', index=False)

#### Load TMS-Part 1

In [91]:
filename = "TMS_Part1_" + system_name + ".csv"
path = system_directory+ "\\" + filename
tms1 = pd.read_csv(path)
tms1.tail(3)

          Date  signal  gainAhead   Close     safef       CAR25
82  2018-12-31       1   0.005267  121.51  4.615235  842.325553
83  2019-01-02      -1   0.011379  122.15  4.642382  746.140389
84  2019-01-03      -1  -0.011575  123.54  4.930997  503.287359

#### Calculate safe-f, CAR25

In [92]:
sst = new_st_df.copy()
nrows = sst.shape[0]
sst = sst.set_index(pd.DatetimeIndex(sst['Date']))
sst=sst.drop('Date', axis=1)
sst['safef'] = 0.0
sst['CAR25'] = 0.0
sst.tail(5)

            signal  gainAhead   Close  safef  CAR25
Date
2018-12-28       1   0.003800  121.05    0.0    0.0
2018-12-31       1   0.005267  121.51    0.0    0.0
2019-01-02      -1   0.011379  122.15    0.0    0.0
2019-01-03      -1  -0.011575  123.54    0.0    0.0
2019-01-04       1   0.000000  122.11    0.0    0.0

In [93]:
start = sst.index[0]
end = sst.index[-1]
updateInterval = 1
iStart = sst.index.get_loc(start)
iEnd = sst.index.get_loc(end)

#### Calculation parameters for TMS Part2
- Understand better
- Add parameters to system_dict OR set in system_dict and retrieve here
- How does length of df impact these parameters?

In [94]:
forecastHorizon = 45
initialEquity = 100000
ddTolerance = 0.10
tailRiskPct = 95
windowLength = 1*forecastHorizon
nCurves = 50

years_in_forecast = forecastHorizon / 252.0

In [95]:
printDetails = False

In [96]:
# Calculate safe-f, CAR25
for i in range(iStart, iEnd+1, updateInterval):
    if printDetails: 
        print ("\nDate: ", dt.datetime.strftime(sst.index[i], '%Y-%m-%d'))
        print ("beLong: ", sst.signal[i])
        print ("gain Ahead: {0:.4f}".format(sst.gainAhead[i]))

#  Initialize variables
    curves = np.zeros(nCurves)
    numberDraws = np.zeros(nCurves)
    TWR = np.zeros(nCurves)
    maxDD = np.zeros(nCurves)
    
    fraction = 1.00
    dd95 = 2 * ddTolerance
    
    while (abs(dd95-ddTolerance)>0.03):
        #  Generate nCurve equity curves
        if printDetails: 
            print  ("    Fraction {0:.2f}".format(fraction))
#    
        for nc in range(nCurves):
            #print ("working on curve ", nc)
            equity = initialEquity
            maxEquity = equity
            drawdown = 0
            maxDrawdown = 0
            horizonSoFar = 0
            nd = 0
            while (horizonSoFar < forecastHorizon):
                j = np.random.randint(0,windowLength)
        #        print j
                nd = nd + 1
                weightJ = 1.00 - j/windowLength
        #        print weightJ
                horizonSoFar = horizonSoFar + weightJ
                signalJ = sst.signal[i-j]
                if signalJ > 0:
                    tradeJ = sst.gainAhead[i-j] * weightJ
                else:
                    tradeJ = 0.0
                thisTrade = fraction * tradeJ * equity    
                equity = equity + thisTrade
                maxEquity = max(equity,maxEquity)
                drawdown = (maxEquity-equity)/maxEquity
                maxDrawdown = max(drawdown,maxDrawdown)
    #        print "equity, maxDD, ndraws:", equity, maxDrawdown, nd        
            TWR[nc] = equity
            maxDD[nc] = maxDrawdown
            numberDraws[nc] = nd
    
        #  Find the drawdown at the tailLimit-th percentile        
        dd95 = stats.scoreatpercentile(maxDD,tailRiskPct)
        if printDetails: 
            print ('  DD {0}: {1:.3f} '.format(tailRiskPct, dd95))
        fraction = fraction * ddTolerance / dd95
        TWR25 = stats.scoreatpercentile(TWR,25)        
        CAR25 = 100*(((TWR25/initialEquity) ** (1.0/years_in_forecast))-1.0)
    if printDetails: 
        print ('Fraction: {0:.2f}'.format(fraction))
        print ('CAR25: {0:.2f}'.format(CAR25))
    sst.iloc[i,sst.columns.get_loc('safef')] = fraction
    sst.iloc[i,sst.columns.get_loc('CAR25')] = CAR25
    #sst.loc[i,'CAR25'] = CAR25

In [97]:
sst.tail(3)

            signal  gainAhead   Close     safef       CAR25
Date
2019-01-02      -1   0.011379  122.15  4.561025  560.177969
2019-01-03      -1  -0.011575  123.54  4.991912  281.754613
2019-01-04       1   0.000000  122.11  5.257051  557.391375

#### Save updated shadow trades

In [98]:
df_to_save = sst.copy()
df_to_save.reset_index(level=df_to_save.index.names, inplace=True)
filename = "TMS_Part1_daybyday_" + system_name + ".csv"
df_to_save.to_csv(system_directory+ "\\" + filename, encoding='utf-8', index=False)

#### Now go to TMS Part 2

In [99]:
filename = "TMS_Part2_" + system_name + ".csv"
path = system_directory+ "\\" + filename
tms2 = pd.read_csv(path)
tms2.tail(3)

,Date,signal,gainAhead,Close,safef,CAR25,trade,fract,equity,maxEquity,drawdown,maxDD
82,2018-12-31,1,0.005267,121.51,4.615235,842.325553,4190.401434,4.615235,172813.411331,182765.065897,0.054451,0.121668
83,2019-01-02,-1,0.011379,122.15,4.642382,746.140389,0.000000,4.642382,172813.411331,182765.065897,0.054451,0.121668
84,2019-01-03,-1,-0.011575,123.54,4.930997,503.287359,0.000000,4.930997,100000.000000,0.000000,0.000000,0.000000

#### Update TMS Part 2 with new trade data
- Do I need to go through whole loop?
- Can I append new data and get new calculations?

In [100]:
# Init vars
sst1 = sst.copy()
sst1['trade'] = 0.0
sst1['fract'] = 0.0
sst1['equity'] = 0.0
sst1['maxEquity'] = 0.0
sst1['drawdown'] = 0.0
sst1['maxDD'] = 0.0
initialEquity = 100000
sst1['trade_decision'] = ''

nrows = sst1.shape[0]
start = sst.index[0]
end = sst.index[-1]

iStart = sst.index.get_loc(start)
iEnd = sst.index.get_loc(end)

In [101]:
sst1.iloc[0,sst1.columns.get_loc('safef')] = 1.0
sst1.iloc[0,sst1.columns.get_loc('CAR25')] = 10.0
sst1.iloc[0,sst1.columns.get_loc('equity')] = initialEquity

In [102]:
for i in range(1,nrows):
    if (sst1.iloc[i,sst1.columns.get_loc('safef')]==0 and sst1.iloc[i,sst1.columns.get_loc('CAR25')]==0):
        sst1.iloc[i,sst1.columns.get_loc('safef')] = sst1.iloc[i-1,sst1.columns.get_loc('safef')]
        sst1.iloc[i,sst1.columns.get_loc('CAR25')] = sst1.iloc[i-1,sst1.columns.get_loc('CAR25')]
        sst1.iloc[i,sst1.columns.get_loc('fract')] = sst1.iloc[i,sst1.columns.get_loc('safef')]
        sst1.iloc[i,sst1.columns.get_loc('equity')] = sst1.iloc[i-1,sst1.columns.get_loc('equity')]
    else:
        sst1.iloc[i,sst1.columns.get_loc('fract')] = sst1.iloc[i,sst1.columns.get_loc('safef')]
        sst1.iloc[i,sst1.columns.get_loc('equity')] = sst1.iloc[i-1,sst1.columns.get_loc('equity')]

In [103]:
# Update trade_decision with current date decision
sst1.iloc[iEnd,sst1.columns.get_loc('trade_decision')] = 'Long'

In [104]:
for i in range(iStart, iEnd):
    if (sst1.trade_decision[i] == 'Long'):
        sst1.iloc[i,sst1.columns.get_loc('trade')] = sst1.iloc[i-1,sst1.columns.get_loc('fract')] * sst1.iloc[i-1,sst1.columns.get_loc('equity')] * sst1.iloc[i,sst1.columns.get_loc('gainAhead')]
    elif (sst1.signal[i] > 0):
        sst1.iloc[i,sst1.columns.get_loc('trade')] = sst1.iloc[i-1,sst1.columns.get_loc('fract')] * sst1.iloc[i-1,sst1.columns.get_loc('equity')] * sst1.iloc[i,sst1.columns.get_loc('gainAhead')]
    else:
        sst1.iloc[i,sst1.columns.get_loc('trade')] = 0.0
        
    sst1.iloc[i,sst1.columns.get_loc('equity')] = sst1.iloc[i-1,sst1.columns.get_loc('equity')] + sst1.iloc[i,sst1.columns.get_loc('trade')]
    sst1.iloc[i,sst1.columns.get_loc('maxEquity')] = max(sst1.iloc[i,sst1.columns.get_loc('equity')],sst1.iloc[i-1,sst1.columns.get_loc('maxEquity')])
    sst1.iloc[i,sst1.columns.get_loc('drawdown')] = (sst1.iloc[i,sst1.columns.get_loc('maxEquity')] - sst1.iloc[i,sst1.columns.get_loc('equity')]) / sst1.iloc[i,sst1.columns.get_loc('maxEquity')]
    sst1.iloc[i,sst1.columns.get_loc('maxDD')] =  max(sst1.iloc[i,sst1.columns.get_loc('drawdown')],sst1.iloc[i-1,sst1.columns.get_loc('maxDD')])

In [105]:
sst1.tail(3)

,signal,gainAhead,Close,safef,CAR25,trade,fract,equity,maxEquity,drawdown,maxDD,trade_decision
Date,,,,,,,,,,,,
2019-01-02,-1,0.011379,122.15,4.561025,560.177969,0.0,4.561025,158153.866333,165622.70206,0.045095,0.118418,
2019-01-03,-1,-0.011575,123.54,4.991912,281.754613,0.0,4.991912,158153.866333,165622.70206,0.045095,0.118418,
2019-01-04,1,0.000000,122.11,5.257051,557.391375,0.0,5.257051,100000.000000,0.00000,0.000000,0.000000,Long

#### Save updated TMS Part 2

In [106]:
df_to_save = sst1.copy()
df_to_save.reset_index(level=df_to_save.index.names, inplace=True)
filename = "TMS_Part2_daybyday_" + system_name + ".csv"
df_to_save.to_csv(system_directory+ "\\" + filename, encoding='utf-8', index=False)

#### Save system_dict

In [107]:
tradeDate

'2019-01-04'

In [108]:
system_dict

{'best_model': 'SVM',
 'direction': 'Long',
 'is_oos_ratio': 4,
 'issue': 'TLT',
 'oos_months': 4,
 'pivot_date': '2019-01-03',
 'segments': 1,
 'system_name': 'TLT-Long-system-6863-V1',
 'ver_num': 1}

In [109]:
system_dict['pivot_date']=tradeDate
system_dict

{'best_model': 'SVM',
 'direction': 'Long',
 'is_oos_ratio': 4,
 'issue': 'TLT',
 'oos_months': 4,
 'pivot_date': '2019-01-04',
 'segments': 1,
 'system_name': 'TLT-Long-system-6863-V1',
 'ver_num': 1}

In [110]:
save_json('system_dict.json', system_dict)

## End of day completed, 2019-01-04
Trade decision: Flat

## Start next day, 2019-01-07